.table > tbody tr.urgent {
  color: red;
}

.table{
  border: solid black 1px;
  padding: 10px;
  width: 75%;
  align-self: center;
  text-align: center;
}

.table_container{
  display: flex;
  justify-content: center;
}

th{
  font-size: larger;
  border-bottom: black thick double;
  margin-bottom: 10px;
}

header{
  margin-bottom: 20px;
}
